[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
pandas = "*"
lxml = "*"
pyjwt = "==1.7.1"
djangorestframework-simplejwt = "*"
django-rest-passwordreset = "*"
psycopg2 = "*"
django-heroku = "*"
bs4 = "*"
heroku3 = "*"
requests = "*"
django-defender = "*"
django-postgres-copy = "*"
holidays = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
